<!-- File: src\app\navbar\navbar.component.html -->
<nav class="navbar bg-red border-bottom border-body" style="background-color: #101067">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <a class="navbar-brand fs-2 text-light" href="#">
        <img
          src="assets/images/image.png"
          alt="Logo"
          width="55"
          height="49"
          class="d-inline-block align-text-top"
        />
        MockUpGenerator
      </a>
      <a class="navbar-brand fs-2 text-light" [routerLink]="['/diagrams/index']">
        MockUps
      </a>
    </div>

    <div class="d-flex align-items-center">
      <span class="text-light fw-bold me-3">{{ userName }}</span>
      <a (click)="logout()" class="btn btn-light btn-lg" role="button">
        Cerrar Sesión
      </a>
    </div>
  </div>
</nav>
